<div id="nodeSetting-{{powershellName}}" class="ms-Toggle  ms-Toggle--textLeft">
    <span class="ms-Toggle-description">{{displayName}}</span>
    <input class="ms-Toggle-input"  type="checkbox" id="nodeSetting-{{powershellName}}-value" name="nodeSetting-{{powershellName}}-value" />
    <label class="ms-Toggle-field" for="nodeSetting-{{powershellName}}-value">
        <span class="ms-Label ms-Label--off">No</span>
        <span class="ms-Label ms-Label--on">Yes</span> 
    </label>
</div>
