<div id="question-{{id}}" class="ms-Toggle  ms-Toggle--textLeft"
    {{#if showForTrueResponseQuestion}}
        data-showforresponse="question-{{showForTrueResponseQuestion}}"
    {{/if}}
>
    <span class="ms-Toggle-description">{{title}}
        {{#if helpText}}
            {{> QuestionHelpText}}
        {{/if}}
    </span>
    <input class="ms-Toggle-input"  type="checkbox" id="question-{{id}}-value" name="question-{{id}}-value" />
    <label class="ms-Toggle-field" for="question-{{id}}-value"> 
        <span class="ms-Label ms-Label--off">No</span> 
        <span class="ms-Label ms-Label--on">Yes</span> 
    </label>
    {{> QuestionValidationLabel}}
</div>
