<div id="question-{{id}}" class="ms-TextField "
    {{#if showForTrueResponseQuestion}}
        data-showforresponse="question-{{showForTrueResponseQuestion}}"
    {{/if}}
>
    <label class="ms-Label" for="question-{{id}}-value">{{title}}
        {{#if helpText}}
            {{> QuestionHelpText}}
        {{/if}}
    </label>
    <input type="hidden" id="question-{{id}}-value" value="[]"/>
    <div class="ms-CommandButton">
         <button class="ms-CommandButton-button" id="question-{{id}}-openbutton">
             <span class="ms-CommandButton-icon ms-fontColor-themePrimary">
                 <i class="ms-Icon ms-Icon--Add"></i>
             </span>
             <span class="ms-CommandButton-label">Add item</span>
        </button>
    </div>
    <div id="question-{{id}}-results">
    </div>  
    <div class="ms-Dialog complextypedialog" id="question-{{id}}-dialog">
        <div class="ms-Dialog-title">New item details</div>
        <div class="ms-Dialog-content complextypedialog-content">
            {{#each properties}}
                {{#ifTypeIsText this.type}}
                    <div class="ms-TextField">
                        <label for="complex-{{../id}}-{{powershellName}}" class="ms-Label">{{name}}</label>
                        <input type="text" name="complex-{{../id}}-{{powershellName}}" id="complex-{{../id}}-{{powershellName}}" class="ms-TextField-field" value="{{default}}" />
                    </div>
                {{/ifTypeIsText}}
                {{#ifTypeIsNumber this.type}}
                    <div class="ms-TextField">
                        <label for="complex-{{../id}}-{{powershellName}}" class="ms-Label">{{name}}</label>
                        <input type="text" name="complex-{{../id}}-{{powershellName}}" id="complex-{{../id}}-{{powershellName}}" class="ms-TextField-field" value="{{default}}" />
                    </div>
                {{/ifTypeIsNumber}}
                {{#ifTypeIsBoolean this.type}}
                    <div class="ms-Toggle  ms-Toggle--textLeft" id="complex-{{../id}}-{{powershellName}}-toggle">
                        <span class="ms-Toggle-description">{{name}}</span>
                        <input class="ms-Toggle-input" type="checkbox" id="complex-{{../id}}-{{powershellName}}-value" name="complex-{{../id}}-{{powershellName}}-value" />
                        <label class="ms-Toggle-field" for="complex-{{../id}}-{{powershellName}}-value"> 
                            <span class="ms-Label ms-Label--off">No</span> 
                            <span class="ms-Label ms-Label--on">Yes</span> 
                        </label>
                    </div>
                {{/ifTypeIsBoolean}}
            {{/each}}
        </div>
        <div class="ms-Dialog-actions">
            <button id="complex-{{id}}-addbutton" class="ms-Button ms-Dialog-action ms-Button--primary">
                <span class="ms-Button-label">Add item</span>
            </button>
            <button class="ms-Button ms-Dialog-action">
                <span class="ms-Button-label">Cancel</span>
            </button>
        </div>
    </div>
{{> QuestionValidationLabel}}
</div>
