<div id="nodeSetting-{{powershellName}}" class="ms-TextField">
    <label class="ms-Label" for="nodeSetting-{{powershellName}}-value">{{displayName}}</label>
    <input class="ms-TextField-field"  type="text" id="nodeSetting-{{powershellName}}-value" name="nodeSetting-{{powershellName}}-value" />
</div>
